root = true

[*.{kt,kts}]
ktlint_code_style = intellij_idea
insert_final_newline = true
indent_size = 4
ij_continuation_indent_size = 4
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
